/* header css */
body {
  background: #fff;
}
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #f5f5f7;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #3f53db;
  border-radius: 10px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #3f53db;
}
.navbar .container {
  border-bottom: 1px solid #f8f6f5;
}
.pointer {
  cursor: pointer;
}
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 32px 88px;
  height: 80px;
  top: 0;
  position: sticky;
}
#header .logo {
  font-size: 30px;
  margin: 0;
  padding-left: 0 !important;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: transparent;
}
/* #header .logo a {
    color: #1d1d1f;
    }
     */
#header .logo img {
  max-height: 243px;
}

/* 
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  column-gap: 8px;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px 10px 20px !important;
  font-size: 16px;
  font-weight: 500;
  color: #1d1d1f;
  white-space: nowrap;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
}

.navbar a i,
.navbar a:focus i {
  font-size: 14px;
  line-height: 0;
  margin-left: 5px;
  margin-top: 4px;
}

.navbar a:hover,
.navbar li:hover > a {
  color: #1d1d1f;
  text-decoration: none;
  color: #1261fe; 
  background-color: rgba(18, 97, 254, 0.05); 
  border-radius: 8px !important;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #47b2e4;
  font-weight: 600;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #31a9e1;
}

.navbar .dropdown .mega-menu ul,
.navbar .dropdown .mega-menu-services ul {
  display: block;
  margin: 0;
  padding: 10px 0;
  z-index: 99;
}
.nav-item.active,
.nav-item.dropdown.show {
  border-radius: 8px;
  background-color: rgba(18, 97, 254, 0.05);
  color: #1261fe; 
}

.nav-item.active a.nav-link,
.nav-item.dropdown.show a.nav-link {
  color: #1261fe; 
}

.product-Categories-nav-img {
}
.product-Categories-nav-img img {
  object-fit: cover;
  border-radius: 24px;
  height: 277px;
  width: 502px;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
} */

/**
  * Mobile Navigation 
  */
/* .mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(40, 58, 90, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #37517e;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
  color: #37517e;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #47b2e4;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
} */
.navbar-dark {
  height: 80px;
}
.navbar-brand {
  padding: 10px 0px;
  margin-right: 0px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #1d1d1f;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1261fe;
  padding: 10px 12px;
  border-radius: 8px;
  background: rgba(18, 97, 254, 0.05) !important;
}
.bi-chevron-down,
.bi-chevron-up {
  font-size: 14px;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1261fe !important;
  background: rgba(18, 97, 254, 0.05) !important;
}
.nav-item.active {
  border-radius: 8px;
  background-color: rgba(18, 97, 254, 0.05);
  color: #1261fe;
}
.navbar-nav .nav-item.active .nav-link {
  color: #1261fe;
}
.navbar-toggler {
  display: none;
}
.mobile-view-topbar {
  display: none;
}
.top-menu-card {
  background: #f8f6f5;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100vh;
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
  .mobile-view-topbar {
    display: block;
  }
}
@media all and (min-width: 992px) {
  .navbar-toggler {
    display: block;
  }
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .submenu-left {
    right: 100%;
    left: auto;
  }

  .dropdown-menu > li:hover {
    color: #1261fe;
    background: rgba(18, 97, 254, 0.05) !important;
    border-radius: 8px;
  }
  .parent-dropdown > li:hover .parent-item {
    color: #1261fe;
    font-size: 16px;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  .parent-dropdown > li:hover > .submenu > li:hover > .dropdown-item {
    color: #1261fe;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    column-gap: 10px;
  }
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .navbar-collapse {
    display: none;
    background: #f7f7f7;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 4px 4px 1px #dbdbdb;
  }
}

.dp-flex {
  display: flex;
  align-items: center;
}

.col-row-gap {
  row-gap: 23px;
  column-gap: 23px;
}

.topbar-right-text {
  font-size: 14px;
  color: #fff;
  line-height: 16.8px;
  font-weight: 500;
}
/* common css start*/
.gap-4 {
  margin-top: 4px;
}
.gap-8 {
  margin-top: 8px;
}
.gap-12 {
  margin-top: 12px;
}
.gap-14 {
  margin-top: 14px;
}
.gap-16 {
  margin-top: 16px;
}
.gap-24 {
  margin-top: 24px;
}
.gap-32 {
  margin-top: 32px;
}
.gap-38 {
  margin-top: 38px;
}
.gap-48 {
  margin-top: 48px;
}
.gap-46 {
  margin-top: 46px;
}
.gap-65 {
  margin-top: 65px;
}
.gap-88 {
  margin-top: 88px;
}
.gap-100 {
  margin-top: 100px;
}
.gap-104 {
  margin-top: 104px;
}
.col-gap-1 {
  column-gap: 1px;
}
.col-gap-4 {
  column-gap: 4px;
}
.col-gap-6 {
  column-gap: 6px;
}
.col-gap-8 {
  column-gap: 8px;
}
.col-gap-12 {
  column-gap: 12px;
}
.col-gap-16 {
  column-gap: 16px;
}
.col-gap-20 {
  column-gap: 20px;
}
.col-gap-24 {
  column-gap: 24px;
}
.col-gap-133 {
  column-gap: 133px;
}
/* common css end */
/* section 1 start*/
.slider {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-image.active {
  opacity: 1;
}
.slider-image .flip {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.slider-image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 40px;
}

.slider-image .overlay-text {
  position: absolute;
  top: 0;
  backdrop-filter: blur(5px);
  width: 610px;
  height: 600px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.32),
    rgba(102, 102, 102, 0)
  );
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.slider-image .topbar-left-text {
  position: absolute;
  top: 0;
  width: 478px;
  margin: 259px auto 72px 71.57px;
}

.slider-image .topbar-left-text p {
  font-size: 48px;
  line-height: 63px;
  font-weight: 600;
  color: #fff;
}

.explore-button-section1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #fefefe !important;
  color: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
  z-index: 999;
}
.explore-button-section1:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: transparent !important;
  color: #fefefe;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
  z-index: 999;
}

.quote-button-section1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: transparent !important;
  color: #fefefe;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
  z-index: 999;
}
.quote-button-section1:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #fefefe !important;
  color: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
  z-index: 999;
}

.explore-button-section2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #fefefe !important;
  color: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
}
.explore-button-section2:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: transparent !important;
  color: #fefefe;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
}

.quote-button-section2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: transparent !important;
  color: #fefefe;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
}
.quote-button-section2:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #fefefe !important;
  color: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #fefefe !important;
}
/* section 1 end */
/* section 2 start   */
.logo-slider {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  gap: 30px;
  animation: scroll 10s linear infinite;
}

.slide img {
  height: 46px;
  width: auto;
  display: block;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-track {
  width: calc(100% * 2);
}

/* section 2 end   */
/* section 3 start   */
.product-feature .product-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.62px;
  margin: 0;
}
.product-feature .feature-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 41.66px;
  margin: 0;
}
/* .feature-product-card {
  display: flex;
  background: #f8f6f5;
  border-radius: 24px;
}
.feature-product-card .card {
  width: 334px;
  height: 250px;
  padding: 24px;
  background: transparent;
  border: 0;
  transition: 0.8s all ease-in-out;
  border-radius: 0;
}
.feature-product-card .card .card-text {
  background: transparent;
  width: 286px;
  height: 150px;
}
.feature-product-card .card .card-text .medium-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
}
.feature-product-card .card .card-text .small-text {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
}
.feature-product-card .card .card-icons {
 
  width: 286px;
  height: 48px;
}

.feature-product-card .card:hover {
  background: #1261fe;
}
.with-hover {
  display: none;
}
.feature-product-card .card:hover .with-hover {
  display: block;
}
.feature-product-card .card:hover .without-hover {
  display: none;
}
.feature-product-card .card:hover .card-text .small-text,
.feature-product-card .card:hover .card-text .medium-text {
  display: block;
  color: #fff;
}
.feature-product-card .card:hover:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.feature-product-card .card:hover:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.feature-product-card .card:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.feature-product-card .card:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
} */
.feature-product-card {
  display: flex;
  background: #f8f6f5;
  border-radius: 24px;
}
.feature-product-card .card {
  position: relative;
  overflow: hidden;
  width: 334px;
  height: 250px;
  padding: 24px;
  background: transparent;
  border: 0;
  transition: 0.5s all ease-in-out;
  border-radius: 0;
}
.feature-product-card .card:hover {
  position: relative;
  overflow: hidden;
  width: 334px;
  height: 250px;
  padding: 24px;
  background: rgba(18, 97, 254, 0.9);
  border: 0;
  transition: 0.5s all ease-in-out;
  border-radius: 0;
}

/* Card Content */
.feature-product-card .card-content {
  position: relative;
  z-index: 2;
}
.feature-product-card .card-text {
  padding-left: 5px;
  background: transparent;
  width: 286px;
  height: 150px;
  z-index: 2;
}

.feature-product-card .card-text .medium-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.44px;
  color: #1d1d1f;
  transition: all 0.7s ease-in-out;
}

.feature-product-card .card-text .small-text {
  display: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  color: #1d1d1f;
  transition: all 0.7s ease-in-out;
}

.feature-product-card .card:hover .card-text .small-text {
  padding-left: 5px;
  display: block;
  color: #f8f6f5;
}
.feature-product-card .card:hover .card-text .medium-text {
  padding-left: 5px;
  padding-top: 24px;
  display: block;
  color: #f8f6f5;
}

/* Card Icons */
.feature-product-card .card-icons {
  width: 286px;
  height: 48px;
  z-index: 2;
}

.with-hover {
  display: none;
}
.feature-product-card .card:hover .with-hover {
  display: block;
}
.feature-product-card .card:hover .without-hover {
  display: none;
}

/* Rounded Borders */
.feature-product-card .card:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.feature-product-card .card:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
/* section 3 end  */
/* section 4 start  */

.product-Categories .product-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.62px;
  margin: 0;
}
.product-Categories .feature-text {
  font-size: 32px;
  font-weight: 400;
  line-height: 41.66px;
  margin: 0;
}
button.active {
  background-color: #1d1d1f; /* Example active button color */
  color: white;
  border: 1px solid #1d1d1f; /* Optional border for emphasis */
}
.Enterprise-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #fefefe;
  color: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #1d1d1f;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Enterprise-button:hover {
  /* font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #1d1d1f;
  color: #fefefe;
  border-radius: 8px;
  border: 1px solid #1d1d1f; */
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #f8f6f5;
  color: rgba(29, 29, 31, 0.7);
  border-radius: 8px;
  border: 1px solid #1d1d1f;
}
.Telecom-button {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #f8f6f5;
  color: rgba(29, 29, 31, 0.7);
  border-radius: 8px;
  border: 1px solid #f8f6f5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.Telecom-button:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: #f8f6f5;
  color: rgba(29, 29, 31, 0.7);
  border-radius: 8px;
  border: 1px solid #1d1d1f;
}
.product-categories-menu {
  border-left: 2px solid #f8f6f5;
  padding: 0;
}
.product-categories-menu .tab {
  list-style: none;
  padding: 16px 0 16px 0;
  margin-top: 4px;
  cursor: pointer;
  white-space: nowrap;
}
.product-categories-menu .tab:hover {
  border-left: 3px solid #1261fe;
}
.product-categories-menu .tab:hover p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: #1d1d1f;
  margin: 0;
  padding-left: 24px;
}
.product-categories-menu .tab.active {
  border-left: 3px solid #1261fe;
}
.product-categories-menu .tab.active p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: #1d1d1f;
  margin: 0;
  padding-left: 24px;
}

.product-categories-menu .tab.active:before {
  content: "";
  position: absolute;
  left: -2px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #1261fe;
}
.product-categories-menu .tab p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: rgba(29, 29, 31, 0.6);
  margin: 0;
  padding-left: 24px;
  transition: all 0.5s ease-in-out;
}
.w-292 {
  width: 292px;
}
.product-categories-image-main {
  position: relative;
}
.product-categories-image-main .product-categories-overlay {
  height: 600px;
  width: 980px;
  object-fit: cover;
  border-radius: 40px;
}
.product-categories-image-main .categories-right-bottom-card {
  position: absolute;
  top: auto;
  right: 0;
  left: auto;
  bottom: 0;
  width: 441px;
  height: 258.23px;
  background: #1261fe;
  border-bottom-right-radius: 40px;
  padding: 30px 0px 30px 40px;
}
.product-categories-image-main .categories-right-bottom-card p:first-child {
  font-size: 24px;
  font-weight: 500;
  line-height: 35.15px;
  color: #fefefe;
  /* width: 324px; */
  /* height: 62px; */
}
.product-categories-image-main .categories-right-bottom-card p:last-child {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fefefe;
  width: 376px;
  /* height: 60px; */
}
.view-product {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 0px;
  background-color: transparent;
  color: #f8f6f5;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.view-product:hover {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 20px;
  background-color: transparent;
  color: #f8f6f5;
  border-radius: 8px;
  border: 1px solid #f8f6f5;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-categories-image-main
  .categories-right-bottom-card
  .arrow-right-small {
  width: 14.6px;
  height: 17.62px;
  margin-left: 5px;
}
.content-item {
  display: none;
}

.content-item.active {
  display: block;
}
/* Base style for content-item */
.content-item {
  transition: transform 0.5s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

/* Keyframe animation for smooth appearance */
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Style for images inside content-item */
.content-item img {
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  /* animation: slideLeft 0.7s ease-in-out; */
}

/* Keyframe animation for images */
@keyframes slideUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Style for bottom card */
.content-item .categories-right-bottom-card {
  /* transition: transform 0.7s ease-in-out;  */
  /* animation: riseUp 0.7s ease-in-out; */
}

/* Keyframe animation for bottom card */
@keyframes riseUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

/* Active state for content-item */
.content-item.active {
  transform: scale(1);
}

/* Inactive state for content-item */
.content-item {
  transform: scale(0.95);
}

/* .content-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content-item.active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
} */

/* section 4 end  */
/* section 5 start*/
.padding-154-209-472-205 {
  padding: 65px 20px 0px;
}
#mainSection5 {
  overflow: hidden;
}
#mainSection5 .sub-heading {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.62px;
  letter-spacing: 0.1em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#mainSection5 .description {
  width: 76%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 41.66px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.globe-bg {
  background-image: url("../images/outlineGlobe.png");
  height: 30vh;
  width: 883px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-y: -40px;
  margin: 0 auto;
  /* border-bottom: 2px solid rgba(29, 29, 31, 0.1); */
}
/* .global-bg {
  position: absolute;
  left: 18%;
  bottom: -88%;
} */
.global-bg img {
  /* width: 835px;
  height: 100%; */
  /* width: 700px;
  height: 65vh;
  overflow: hidden; */
}
/* -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 7s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */
/* section 5 End*/
/* section 6 start*/

.padding-185-88-86-125 {
  padding: 185px 0px 125px 0px;
}

#mainSection6 .product-mb-view {
  background: #f8f6f5;
  border-radius: 24px;
}
#mainSection6 .card {
  width: 319px;
  height: 291px;
  padding: 24px;
  border-radius: 24px;
  background-color: transparent;
  border: 0;
}
#mainSection6 .card .image-text-box {
  width: 271px;
  height: 137px;
  gap: 8px;
}
#mainSection6 .card .image-text-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
#mainSection6 .card .image-text-box .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

#mainSection6 .card .image-text-box .arrow-right {
  background: #f5f5f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

#mainSection6 .card .image-text-box .without-bg {
  background: transparent !important;
}

/* section 6 End*/

/* section 7 start */
.blog-card {
  border: 1px solid #f8f6f5;
  width: 334px;
  height: 553px;
  background: #f8f6f5;
}
.blog-card-body:hover .blog-heading,
.blog-card-body:hover .blog-text {
  color: #88898d;
}
.blog-card-body:hover .blog-arrow {
  width: 26px;
  height: 26px;
}
.blog-card:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.blog-card:first-child img {
  border-top-left-radius: 24px;
}
.blog-card:last-child img {
  border-top-right-radius: 24px;
}
.blog-card:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.blog-card img {
  width: 334px;
  height: 260px;
  object-fit: cover;
}
.blog-card .blog-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  color: #1d1d1f;
  padding: 24px;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.blog-card .blog-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: #1d1d1f;
  padding: 40px 24px 0px 24px;
  margin: 0;
  width: 286px;
  transition: all 0.3s ease-in-out;
}
.blog-card .pl-pr-24 {
  padding: 0 24px 0 24px;
}
.blog-card .blog-arrow {
  transition: all 0.3s ease-in-out;
  width: 24px;
  height: 24px;
}
/* section 7 end */
/* section 8 start */
#mainSection8 {
  background: #fff;
}
#mainSection8 .overlay-getstrated {
  position: absolute;
  left: 0;
}
.h-546px {
  height: 159px;
}
.getStarted-main {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
.getStarted-main .getstarted-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.getStarted-main .getstarted-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.explore-button {
  padding: 10px 20px;
  color: #f8f6f5;
  background: #1261fe;
  border-radius: 8px;
  outline: none;
  border: 1px solid #1261fe !important;

  transition: all 0.3s ease-in-out;
}
.explore-button:hover {
  padding: 10px 20px;
  color: #1261fe;
  background: #f8f6f5 !important;
  border-radius: 8px;
  outline: none;

  border: 1px solid #1261fe !important;
}
.quote-button {
  padding: 9px 20px;
  color: #000;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #000 !important;
  outline: none;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.quote-button:hover {
  padding: 9px 20px;
  color: #f8f6f5;
  background: #1d1d1f;
  border-radius: 8px;
  border: 1px solid #1d1d1f !important;
  outline: none;
  text-decoration: none;
}
/* section 8 end */
/* scroll to top */
#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  display: none; /* Hide the button initially */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#scrollToTopBtn:hover {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 12px;
  border-radius: 5px;
  display: none; /* Hide the button initially */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#scrollToTopBtn img {
  rotate: 270deg;
  width: 18px;
  height: 18px;
}

/* scroll to top End */
/* @media query */
@media (max-width: 1919px) and (min-width: 1440px) {
  .global-bg img {
    height: 70vh;
  }
  .global-bg {
    left: 27%;
    bottom: -170px;
  }
  .blog-card {
    width: 320px;
  }
  .blog-card img {
    width: 320px;
  }
}
@media (min-width: 1920px) and (max-width: 2300px) {
  .global-bg {
    left: 31%;
    bottom: -200px;
  }
  .blog-card {
    width: 320px;
  }
  .blog-card img {
    width: 320px;
  }
}
@media (min-width: 2560px) {
  .blog-card {
    width: 320px;
  }
  .blog-card img {
    width: 320px;
  }

  .global-bg {
    bottom: -320px;
    left: 34%;
    right: auto;
  }
}
@media (max-width: 992px) {
  #header {
    padding: 5px 10px;
    height: 90px;
  }
  .nav-link .bi-chevron-down {
    float: right;
  }
  .slider,
  .slider .slider-image img {
    height: 330px;
  }

  /* .slider-image  .topbar-left-text p {
    font-size: 24px;
    line-height: 38px;
    font-weight: 600;
    color: #fff;
  }
  .slider-image  {
    width: 200px;
    height: 330px;
  }
  .slider-image .overlay-text .topbar-left-text {
    width: 365px;
    margin: 20px 20px ;
    white-space: normal;
  } */

  .slider-image .topbar-left-text p {
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    color: #fff;
  }
  .slider-image .overlay-text {
    width: 200px;
    height: 330px;
  }
  .slider-image .topbar-left-text {
    position: absolute;
    top: 120px;
    width: 180px;
    margin: 20px 12px;
  }
  .explore-button-section1,
  .explore-button-section1:hover,
  .explore-button-section2,
  .explore-button-section2:hover,
  .quote-button-section1,
  .quote-button-section1:hover,
  .quote-button-section2,
  .quote-button-section2:hover {
    width: 158px;
    font-size: 8px;
    line-height: 16px;
    padding: 5px 10px;
  }
  .slide img {
    height: 30px;
    width: auto;
    display: block;
  }
  .gap-104 {
    margin-top: 40px;
  }
  .product-feature .feature-text {
    font-size: 24px;
  }
  .feature-product-card {
    flex-direction: column;
    row-gap: 10px;
  }
  .feature-product-card .card,
  .feature-product-card .card-text,
  .feature-product-card .card-icons {
    width: 100%;
  }
  .feature-product-card .card-text {
    padding-left: 5px;
  }
  .feature-product-card .card {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 24px;
  }
  .feature-product-card .card:hover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    padding: 24px;
    background: rgba(18, 97, 254, 0.9);
    border: 0;
    transition: 0.5s all ease-in-out;
    border-radius: 24px;
  }
  .product-Categories:first-child .dp-flex {
    flex-direction: column;
  }
  .product-Categories .feature-text {
    font-size: 24px;
  }
  .Enterprise-button,
  .Telecom-button {
    width: 170px;
    margin-top: 20px;
  }
  #mainSection4 .gap-32 .dp-flex {
    flex-direction: column;
    row-gap: 20px;
  }
  .product-categories-menu .tab {
    list-style: none;
    padding: 0px 0 0px 0;
    margin: 5px 5px;
  }
  .product-categories-menu .tab.active {
    border-bottom: 3px solid #1261fe;
    border-left: 0 !important;
    margin: 5px 5px;
  }
  .product-categories-menu {
    border-left: 0 !important;
    border-bottom: 2px solid #f8f6f5;
  }
  .w-292 {
    width: 100%;
    display: flex;
    overflow: auto;
    padding-bottom: 15px;
  }
  .product-categories-menu .tab.active p {
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    padding-right: 0px;
    padding-left: 0px;
  }
  .product-categories-menu .tab:hover {
    border-left: 0;
  }
  .product-categories-menu .tab p,
  .product-categories-menu .tab:hover p {
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    padding: 0px 0px 0px 0px;
    border-left: 0;
  }
  .product-categories-image-main .product-categories-overlay {
    width: 100%;
  }
  .product-categories-image-main .categories-right-bottom-card {
    border-radius: 24px;
    width: 100%;
    padding: 30px 0px 30px 20px;
  }
  .product-categories-image-main .categories-right-bottom-card p:last-child {
    width: 375px;
  }
  .categories-right-bottom-card .gap-14 .dp-flex {
    flex-direction: row !important;
  }
  .padding-154-209-472-205 {
    padding: 40px 20px 10px 20px;
  }
  .globe-bg {
    width: 375px;
    background-position-y: -15px;
  }
  #mainSection6 .product-mb-view {
    background: #f8f6f5;
    border-radius: 24px;
    flex-direction: column;
    margin-top: 0px;
  }
  #mainSection7 .dp-flex {
    flex-direction: column;
    row-gap: 10px;
  }
  #mainSection7 .blog-card {
    width: 375px;
    height: 500px;
    border-radius: 24px;
  }
  #mainSection7 .blog-card img {
    width: 375px;
    border-radius: 24px;
  }
  #mainSection7 .blog-card .blog-arrow {
    width: 24px !important;
    height: 24px !important;
  }
  .getStarted-main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-columns {
    justify-content: center;
  }
  .footer-column h4 {
    font-size: 16px !important;
  }
  .footer-column {
    margin: 10px 0;
  }

  .footer-bottom {
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
  .navbar-nav .dropdown-menu {
    position: static !important;
    border-radius: 8px;
    box-shadow: 0px 0px 19px -1px #a1a1a19e;
  }
  .mega-menu {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 auto !important;
    left: 0 !important;
    height: 100vh !important;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
    border: 0;
    top: 100% !important;
  }
  .product-Categories-nav-img img {
    object-fit: cover;
    border-radius: 24px;
    height: 210px !important;
    width: 310px !important;
  }
  .getStarted-main .getstarted-heading {
    font-size: 24px;
  }
  .footer-logo {
    flex: 1;
    max-width: 130px !important;
    margin: 0 20px;
    padding-bottom: 10px !important;
  }
  #mainSection5 .description {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.66px;
    text-align: justify;
    width: 365px;
    margin: 0 0px;
  }
  .blog-card .blog-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.04px;
    color: #1d1d1f;
    padding: 24px;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .blog-card .blog-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 20.83px;
    color: #1d1d1f;
    padding: 10px 24px 0px 24px;
    margin: 0;
    width: 400px;
    transition: all 0.3s ease-in-out;
  }
  .mega-menu,
  .mega-menu-services {
    padding: 0 !important;
  }
  .footer .gap-65 {
    margin: 20px 20px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
  }
}

.mega-menu {
  width: 1300px;
  max-width: 1300px;
  margin: 0 auto;
  left: -365px !important;
  height: 505px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  border: 0;
  top: 120% !important;
  position: relative;
}

.mega-menu .dropdown-item {
  padding: 5px 15px;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}
.mega-menu-services {
  width: 1300px;
  max-width: 1300px;
  margin: 0 auto;
  left: -491px !important;
  height: 505px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.4);
  border: 0;
  top: 120% !important;
}

.mega-menu-services .dropdown-header {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mega-menu-services .dropdown-item {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 5px;
}
/* .mega-menu .contactus {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.mega-menu .contact-arrow {
  font-size: 14.6px;
  height: 17.62px;
}
.mega-menu .contactus:hover .mega-menu .contact-arrow{
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
} */
.mega-menu .contactus {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: inline-flex; /* Keeps arrow and text aligned */
  align-items: center; /* Aligns text and arrow vertically */
  column-gap: 4px;
}

.mega-menu .contact-arrow {
  font-size: 14.6px;
  height: 17.62px;
  margin-left: 0; /* Initial position */
  transition: margin-left 0.3s ease-in-out; /* Smooth movement */
}
.mega-menu .contact-arrow-blue {
  font-size: 14.6px;
  height: 17.62px;
  margin-left: 0; /* Initial position */
  transition: margin-left 0.3s ease-in-out; /* Smooth movement */
}
.mega-menu .contactus:hover {
  color: #1261fe;
}
.mega-menu .contactus:hover .contact-arrow {
  margin-left: 5px; /* Moves arrow to the right when hovered */
  display: none;
}
.mega-menu .contactus:hover .contact-arrow-blue {
  margin-left: 5px; /* Moves arrow to the right when hovered */
  display: block;
  width: 14.6px;
  height: 17.62px;
}
.mega-menu .contactus .contact-arrow-blue {
  display: none;
}
.mega-menu .pos-absolute-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgba(18, 97, 254, 0.1);
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 16px 10px;
  height: 58px;
}
.mega-menu-services .contactus {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.mega-menu-services .contact-arrow {
  font-size: 14.6px;
  height: 17.62px;
}
.mega-menu-services .pos-absolute-bottom {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: rgba(18, 97, 254, 0.1);
  width: 100%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 16px 10px;
  height: 58px;
}
/*common Footer */
.footer {
  background-color: #1c1c1c;
  padding: 40px 20px 10px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 40px;
}

.footer-logo {
  flex: 1;
  max-width: 156px;
  /* margin: 0 auto; */
}

.footer-columns {
  display: flex;
  /* flex: 4; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  margin: 0 20px;
  min-width: 150px;
}

.footer-column h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 27px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fefefe !important;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}
.footer-left-col-text {
  color: rgb(198 198 198 / 90%) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
  margin: 0;
}
.footer-column a {
  text-decoration: none !important;
  color: rgb(198 198 198 / 90%) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
}
.footer-column a:hover,
.footer-bottom p:hover,
.footer-left-col-text:hover {
  text-decoration: underline !important;
  color: #f8f6f5 !important;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin: 0px 20px 0px 20px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer-bottom p {
  margin: 0;
  color: rgb(198 198 198 / 90%) !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  transition: all 0.4s ease-in-out;
}

/* Footer End */

/* product section 1 */
/* section 1 start*/
.product {
  position: relative;
  overflow: hidden;
  height: 600px;
}

/* .product-image img { */
/* width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 24px; */
/* } */
.product-image img {
  width: 1290px;
  height: 540px;
  object-fit: cover;
  border-radius: 24px;
}

.product-image .overlay-text {
  position: absolute;
  bottom: 60px;
  width: 1288px;
  backdrop-filter: blur(5px);
  height: 174px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.32),
    rgba(102, 102, 102, 0)
  );
  /* border-top-left-radius: 24px; */
  /* border-bottom-left-radius: 24px; */
  border-radius: 24px;
}

.product-image .overlay-text .topbar-left-text {
  /* width: 478px; */
  width: 763px;
  margin: 25px 0 72px 71.57px;
}

.product-image .overlay-text .topbar-left-text p {
  font-size: 32px;
  line-height: 63px;
  font-weight: 600;
  color: #fefefe;
}
/* product section 1 End */

/* product section media query start */
@media (max-width: 992px) {
  .product {
    height: auto;
  }
  .product-image img {
    width: 400px;
    height: 225px;
    object-fit: cover;
    border-radius: 24px;
  }
  .product-image .overlay-text {
    position: absolute;
    bottom: 0px;
    width: 400px;
    backdrop-filter: blur(5px);
    height: 80px;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.32),
      rgba(102, 102, 102, 0)
    );
    /* border-top-left-radius: 24px; */
    /* border-bottom-left-radius: 24px; */
    border-radius: 24px;
  }
  .product-image .overlay-text .topbar-left-text p {
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #fefefe;
  }
  .product-image .overlay-text .topbar-left-text {
    width: 370px;
    margin: 11px 0 0px 13.57px;
  }
  .quote-left-section .quote-text p,
  .quote-right-section .quote-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    text-align: justify;
  }
  .g-recaptcha {
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
  }
}
/* product section media query End*/

/* Quote section */

.card-grid {
  display: grid;
  grid-template: repeat(10, auto) / repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
}
.quote-left-section .quote-heading p,
.quote-right-section .quote-heading p {
  font-size: 32px;
  font-weight: 500;
  line-height: 41.66px;
  margin: 0;
}
.quote-left-section .quote-text p,
.quote-right-section .quote-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.quote-left-section .card {
  width: 425.5px;
  height: 232px;
  padding: 24px;
  border-radius: 12px;
  background-color: #f8f6f5;
  border: 0;
  transition: all 0.7s ease-in-out;
}
.quote-left-section .card:hover .image-text-box p {
  color: #88898d;
}
.quote-left-section .card .image-text-box {
  width: 271px;
  height: 137px;
  gap: 8px;
}
.quote-left-section .card .image-text-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  text-align: left;
}
.quote-left-section .card .image-text-box .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
}

.quote-left-section .card .image-text-box .arrow-right {
  background: #f5f5f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.quote-left-section .card .image-text-box .without-bg {
  background: transparent !important;
}

/* .quote-right-section .form-select-options {
  width: 100%;
  height: 55px;
  padding: 13px 16px;
  border-radius: 8px;
  } */
.form-select,
.form-control {
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.form-select:focus,
.form-control:focus {
  border: 1px solid #1261fe !important;
  outline: 0;
  box-shadow: none !important;
}
.combined-field {
  display: flex;
  align-items: center;
  column-gap: 4px;
  border: 1px solid #b5b6b6;
  outline: 0;
  box-shadow: none !important;
  border-radius: 8px;
}
.combined-field:has(.form-select:focus),
.combined-field:has(.form-control:focus) {
  border: 1px solid #1261fe; /* Blue border on focus */
}
/* .combined-field:focus {
  border: 1px solid #1261fe !important;
  box-shadow: none !important;
} */
.combined-field img {
  padding-left: 5px;
}
.combined-field .country-select-number {
  border-right: 1px solid #ddd !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  height: 50px;
  padding: 12px 16px 12px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 150px !important;
}
.combined-field .country-select-number:focus,
.combined-field .country-select-number:active,
.combined-field .country-select-number:visited {
  width: 150px !important;
  border-right: 1px solid #ddd !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-left: 0 !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  height: 50px;
  padding: 12px 16px 12px 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.combined-field .input-number,
.combined-field .input-number:focus,
.combined-field .input-number:active,
.combined-field .input-number:visited {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none !important;
  height: 50px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.upload-container {
  border: 2px dashed #cccccc;
  border-radius: 8px;
  padding: 30px 20px 10px;
  text-align: center;
  background: #fff;
  width: 100%;
  cursor: pointer;
}
.upload-container:hover {
  border: 2px dashed #cccccc;
}
.upload-container input[type="file"] {
  display: none;
}
.upload-container #uploadText {
  font-weight: 600;
  font-size: 14px;
  line-height: 18.23px;
  color: #1d1d1f;
}
.upload-container #uploadText span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  color: #1d1d1f;
}
.upload-container .file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.upload-container #uploadText a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18.23px;
  color: #1261fe !important;
  text-decoration: none;
}
.upload-container a:hover {
  text-decoration: underline;
}
textarea {
  width: 100%;
  border-radius: 8px;
  resize: none;
  outline: 0 !important;
  box-shadow: none !important;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #b5b6b6 !important;
}
textarea:focus {
  border: 1px solid #1261fe !important;
}
.submit-button {
  width: 88px;
  height: 48px;
  background: #1261fe;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}
.submit-button:hover {
  width: 88px;
  height: 48px;
  background: #fefefe;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1261fe;
  border: 1px solid #1261fe;
  padding: 10px 20px;
}
@media (max-width: 992px) {
  #quotesection .mb-view {
    flex-direction: column;
  }
  .submit-button,
  .submit-button:hover {
    width: 100% !important;
  }
  .quote-left-section .card {
    width: 100%;
  }
}
/* Quote section End*/
/* about us section */
.video-container {
  position: relative;
}
.video-container video {
  border-radius: 24px;
  width: 100%;
}
.video-container .about-us-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.66px;
  color: #fefefe;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
.about-us-description {
  width: 884px;
  margin: 0 auto;
}
.about-us-description .heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  color: #1d1d1f;
}
.about-us-description .des-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  color: #1d1d1f;
}
.overlay-about {
  background-image: url("../images/footer-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 252px;
  height: 228.5px;
  position: absolute;
  right: 0;
  top: -140px;
  opacity: 0.3;
  z-index: -1;
}

.about-card-section .card {
  width: 316px;
  height: 211px;
  padding: 24px;
  border-radius: 24px;
  background-color: #1261fe;
  border: 0;
}
.about-card-section .card:hover {
  background-color: #1261fecc;
  transition: all 0.5s ease-in-out;
}
/* 
.about-card-section .card:hover .image-text-box p {
  color: #88898d;
} */
.about-card-section .card .image-text-box {
  width: 271px;
  height: 137px;
  gap: 8px;
}
.about-card-section .card .image-text-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  text-align: left;
  color: #fff;
}
.about-card-section .card .image-text-box .desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 20.83px;
  color: #fff;
}

.about-card-section .card .image-text-box .arrow-right {
  background: #f5f5f7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}

.about-card-section .card .image-text-box .without-bg {
  background: transparent !important;
}
@media (max-width: 992px) {
  .video-container video {
    border-radius: 16px;
    height: 215px;
  }
  .video-container .about-us-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 41.66px;
    color: #fefefe;
    position: absolute;
    left: 30px;
    bottom: 10%;
  }
  .about-us-description {
    width: 100%;
    margin: 0 auto;
  }
  .about-us-description .heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 38px;
    color: #1d1d1f;
  }
  .about-us-description .des-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #1d1d1f;
  }
  .about-card-section .dp-flex {
    flex-direction: column;
    row-gap: 10px;
  }
  .about-card-section .card {
    width: 400px;
  }
  .about-card-section .card .image-text-box {
    width: 100%;
  }
}
/* Contact us section */
.contact-us-section {
  position: relative;
}
.contact-us-section img {
  border-radius: 24px;
  width: 100%;
  height: 560px;
  object-fit: cover;
}

.contact-us-section .contact-us-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.66px;
  color: #fefefe;
  position: absolute;
  left: 35px;
  bottom: 30px;
}
.w-400 {
  width: 402px;
  height: 120px;
}
.contact-us-connect img {
  width: 48px;
  height: 48px;
}
.contact-us-connect p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1d1d1f;
}
.w-832 {
  width: 832px;
}
.contact-us-overlay {
  background-image: url("../images/outlineGlobe.png");
  height: 30vh;
  width: 783px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-position-y: -35px;
  border-bottom: 2px solid rgba(29, 29, 31, 0.1);
}
@media (max-width: 992px) {
  .contact-us-section img {
    border-radius: 24px;
    width: 385px;
    height: 210px;
    object-fit: cover;
  }
  .contact-us-section .contact-us-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 18.66px;
    color: #fefefe;
    position: absolute;
    left: 16px;
    bottom: 10px;
  }
  .contact-us-connect {
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 50px;
  }
  .w-832 {
    width: 375px;
    text-align: justify;
  }
  .quote-right-section {
    margin-top: 16px;
  }
  .quote-left-section .quote-heading p,
  .quote-right-section .quote-heading p {
    font-size: 24px;
    font-weight: 500;
    line-height: 30.66px;
    margin: 0;
  }
  .contact-us-overlay {
    background-position-y: -15px !important;
    width: 400px !important;
  }
}

/* 
.active {
  color: red;
  font-weight: bold;
}

.section {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.section.active-section {
  opacity: 1;
  max-height: 500px;
}

.section.visible {
  display: block;
} */
/* services */
.services-main {
  font-size: 48px;
  font-weight: 500;
  line-height: 38px;
  color: #1d1d1f;
}
.services-plain-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1d1d1f;
}
.col-gap-133 {
  column-gap: 133px;
}
.w-658px {
  width: 658px;
}
.w-545px {
  width: 545px;
}
.section-move-able-div {
  display: grid;
  grid-template: repeat(10, auto) / repeat(auto-fit, minmax(240.6px, 1fr));
  gap: 0px 16px;
}

.section-move-able-div a,
.section-move-able-div:hover a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  margin-top: 20px;
}
.infra-main-heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 41.66px;
  margin: 0;
  color: #1d1d1f;
}

.infra-main-para {
  width: 545px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #1d1d1f;
}
.security-main-para {
  width: 714px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #1d1d1f;
}
.infra-div-border {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 16px 0px;
}
.structure-design-text {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;
  color: #1d1d1f;
}
.infra-div-border ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #1d1d1f;
}
.infra-bottom-para {
  width: 883px;
}
.infra-bottom-para p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #1d1d1f;
}
.cloud-main {
  background: #f8f6f5;
  border-radius: 24px;
  padding: 48px;
  height: 498px;
}

.cloud-service-image img {
  border-radius: 40px;
}
.cloud-services-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  color: #1d1d1f;
}

@media (max-width: 992px) {
  .services-main {
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    color: #1d1d1f;
  }
  .service-mbl-view {
    flex-direction: column;
  }
  .video-container {
    margin-top: 30px;
  }
  .w-658px {
    width: 375px;
    text-align: justify;
  }
  .w-545px {
    width: 375px;
  }
  .infra-main-heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 41.66px;
    margin: 0;
    color: #1d1d1f;
  }
  .structure-design-text {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #1d1d1f;
  }
  .infra-div-border ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #1d1d1f;
  }
  .infra-main-para {
    width: 375px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #1d1d1f;
    text-align: justify;
  }
  .infra-bottom-para {
    width: 375px;
    text-align: justify;
  }
  .cloud-main {
    background: #f8f6f5;
    border-radius: 24px;
    padding: 24px;
    height: auto;
  }
  .cloud-main .dp-flex {
    flex-direction: column;
    row-gap: 20px;
  }
  .cloud-service-image img {
    border-radius: 40px;
    width: 375px;
    height: 240px;
  }
  .security-main-para {
    width: 345px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    color: #1d1d1f;
    text-align: justify;
  }
  .infra-div-border {
    flex-direction: column;
    row-gap: 20px;
  }
}
/*  */
.g-recaptcha {
  text-align: -webkit-center;
  text-align: -moz-center;
}

/* topbar fish menu start */
@keyframes slideIn {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.mobile-view-topbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1050;
  overflow-y: auto;
}

.mobile-view-topbar.show {
  animation: slideIn 0.5s forwards;
}

.mobile-view-topbar.hide {
  animation: slideOut 0.5s forwards;
}
.close-menu-btn {
  border: 0;
  background: transparent;
  z-index: 3;
  margin: 20px;
}
.close-menu-btn:hover {
  border-radius: 50%;
  background: transparent;
  border: 1px solid #1d1d1f;
  padding: 2px 5px;

  margin: 20px;
}
.main-home-section {
  padding: 50px 20px;
}
.topbar-menu-mbl {
  width: 100%;
  padding: 10px 12px;
  cursor: pointer;
}
.topbar-menu-mbl:hover {
  width: 100%;
  padding: 10px 12px;
  color: #1261fe;
  border-radius: 8px;
  background: rgba(18, 97, 254, 0.05) !important;
  cursor: pointer;
}
.topbar-menu-mbl:hover a {
  color: #1261fe;
  cursor: pointer;
}
.topbar-menu-mbl a {
  color: #1d1d1f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.back-button {
  border: 0;
  background: transparent;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.back-button:hover {
  border: 0;
  background: transparent;
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.product-menu {
  padding: 50px 20px;
  display: none;
}
.product-menu .product-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.main-home-section,
.product-menu,
.telecom-sub-menu-section,
.enterprise-sub-menu-section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.main-home-section {
  transform: translateX(0);
}

.menu-open .main-home-section {
  transform: translateX(-100%);
}

.product-menu {
  transform: translateX(100%);
}
.menu-open .product-menu {
  transform: translateX(0);
}

.enterprise-sub-menu-section {
  padding: 50px 20px;
  display: none;
}
.telecom-sub-menu-section {
  padding: 50px 20px;
  display: none;
}

/* topbar fish menu end */

@media (max-width: 768px) {
  section {
    width: 415px;
    margin: 0 auto;
  }
}
